/* <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    </style> */


body {
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
            
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.navbar-nav .nav-item .nav-link {
    padding: 0.75rem 1rem;
}

.container-fluid {
    padding-top: 1rem;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    height: 100%; */
    text-align: center;
    margin-top: 300px;

}
.container-fluid h1{
    font-size: larger;
}
.container-fluid p{
    font-size: medium;
    font-family: ;
}
