* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo img {
    width: 50px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

.input-text {
    margin-bottom: 20px;
    text-align: left;
}

.input-text label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-text input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgotPass {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    text-align: right;
}

.loginButt {
    background-color: #6200ea;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

.or {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.google {
    background-color: #fff;
    color: #000;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google img {
    width: 20px;
    margin-right: 10px;
}
